<h1>Dragons!</h1>
<ul>
<% @dragons.each do |dragon| %>
  <li>
    <a href="<%=dragon_url(dragon)%>"><%=dragon.name%></a>
  </li>
  <% end %>
</ul>
<% if current_user %>
  <a href="<%= new_dragon_url %>">Create New Dragon!</a>
  <a href="<%= new_rental_url %>">Request Dragon Rental!</a>
<% end %>